//百度分享样式6
.bdsharewrap.bdstyle-c{
	width:255px;height:33px;
	overflow: hidden;
	.bdsharebuttonbox {
		width:800px; height:33px;
		*font-size: 0;
		&:after,&.before{
			display:table;content:" ";
		}
		&:after{clear:both}
		a {
			float:left; margin:0 4px 0 0; padding:0; display:inline-block;*display:inline;*zoom:1; 
			width:33px; height:33px; 
			background:url("//image.gamersky.com/webimg13/zhuanti/common/fx9.png") 0 0 no-repeat;
			&.bds_tsina {background-position:0 0;}
			&.bds_weixin {background-position:-37px 0;}
			&.bds_qzone {background-position: -74px 0;}
			&.bds_renren {background-position: -111px 0}
			&.bds_sqq	{background-position: -148px 0}
			//待添加
			&.bds_tieba{display: none}
			&.bds_douban {display: none}
			//待添加 end
			&.bds_more {background-position:-185px 0;}
			&.bds_count {background-position:-222px 0;font-size: 14px;text-align: center;line-height: 33px;color: #fefefe;}
		}		
	}
	// .bdsharebuttonbox a, .bdsharebuttonboxbdshare .bds_more, .shareCount{margin: 0 !important;margin-left: 0px !important;}
}