$basewidth:1200px;
@import 'csprite';
@import './scsslib/tcss/tcss';
@import './scsslib/baidushare/bds6';
html,body{min-width:1280px;}
body{font-family: "Microsoft YaHei","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 12px;}
h1,h2,h3,h4,h5,p,ul{margin: 0;padding: 0;list-style:none;}
a{text-decoration: none;cursor: pointer;}
input,textarea{
	background: none;
	border: none;
	outline: 0;
}
textarea{
	resize: none;
}
.clearfix:before,
.clearfix:after,
.container:before,
.container:after{display: table;content: " ";}
.clearfix:after,
.container:after{clear: both;}
.container{margin-right: auto;margin-left: auto;width: $basewidth;}
.zt-section{margin: 0;padding: 0;overflow: hidden;width: 100%;min-width:$basewidth;}
//头部
.QZnav {min-width:$basewidth;}
.QZnav .topbar {width:$basewidth;}
.QZnav .QZ-nav {display: none;}
//底部
.Bot{
	width:100%; min-width:$basewidth;
	height: 155px;
	font-size: 14px;
	background-color: #111;
	.Copyright {
		margin:0 auto;padding-top:50px; 
		width:$basewidth;height:auto;line-height:30px;
		text-align:center; color:#555;
		a{
			margin:0 5px; color:#555;
			&:hover {color:#777;}
		}
	}	
}

//弹层
.gs-popup-mask{
	position: fixed;z-index: 99998;top: 0;left: 0;
	width: 100%;height: 100%;
	background:url(http://image.gamersky.com/webimg13/zhuanti/common/black80.png) 0 0 repeat;
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease;
	&.cur{
		opacity: 1;
		visibility: visible;
	}
}
.gs-popup{
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99999;
	transform:translate(0,20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease;
	&.gs-popup-abs{
		position: absolute;
	}
	&.cur{
		transform:translate(0,0);
		opacity: 1;
		visibility: visible;
	}
	.gs-popup-close{
		display: block;
		position: absolute;
		top: 0;
		right: -50px;
		width: 38px;
		height: 38px;
		background:url(http://image.gamersky.com/webimg13/zhuanti/common/gsPopupClose.png) 5px 5px no-repeat;
		&:hover {
			background-position: -33px 5px;
		}
	}
	.gs-popup-type-image{
		width: 100%;
		height: 100%;
		background:url(http://image.gamersky.com/webimg13/lib/icons/loading.gif) center center no-repeat;
		background-color: rgba(0,0,0,0.2);
		img{
			display: block;
			width: 100%;
			height: 100%;
		}
	}
	.gs-popup-type-video{
		position: relative;
		width: 100%;
		height: 100%;
		background:url(http://image.gamersky.com/webimg13/lib/icons/loading.gif) center center no-repeat;
		background-color: rgba(0,0,0,0.2);
		overflow: hidden;
	}
	.gs-popup-close-jsCustom{
		right: 0;
		top: 0;
		background: none;
		@include sprite($close);
		&:hover{
			@include sprite-position($close-h);
		}
	}
	.gs-popup-type-jscustom{
		position: relative;
		width: 100%;
		height: 100%;
		background: url(../gsres/pop-bg.png) 0 0 no-repeat;
	}
}
.title{
	height: 60px;
	line-height: 60px;
	font-size: 33px;
	color: #ffa132;
	font-style: italic;
	letter-spacing: 3px;
	&:first-letter{
		font-size: 50px;
	}
}
.infos{
	padding-left: 105px;
	h5{
		padding-left: 10px;
		margin-bottom: 7px;
		line-height: 52px;
		font-size: 40px;
		color: #3b4051;
		font-weight: normal;
		b{
			margin-right: 13px;
		}
	}
	p{
		line-height: 18px;
		font-size: 15px;
		color: #555b6e;
	}
}
.hero-pop{
	position: relative;
	width: 100%;
	height: 100%;
	.hero-pop-head{
		display: block;
		position: absolute;
		left: 0;
		bottom: 60px;
	}
	.hero-pop-top{
		position: relative;
		margin-left: 207px;
		width: 643px;
		height: 316px;
		.hero-pop-info{
			position: relative;
			margin-bottom: 11px;
			padding-top: 13px;
			color: #27262c;
			h5{
				height: 80px;
				line-height: 80px;
				font-size: 72px;
				.hero-pop-role{
					position: relative;
					margin-left: 20px;
					padding: 2px 10px 4px 17px;
					font-size: 20px;
					color: #ebebfe;
					background-color: #27262c;
					i{
						display: block;
						position: absolute;
						top: 50%;
						left: -18px;
						margin-top: -17px;
						&.hero-pop-role-offense{@include sprite($role-offense);}
						&.hero-pop-role-defense{@include sprite($role-defense);}
						&.hero-pop-role-tank{@include sprite($role-tank);}
						&.hero-pop-role-support{@include sprite($role-support);}
					}
				}
			}
			p{
				height: 28px;
				line-height: 28px;
				font-size: 20px;
			}
		}
		.hero-pop-textarea{
			padding: 5px 10px;
			width: 623px;
			height: 157px;
			background-color: #d3d3d3;
			textarea{
				display: block;
				width: 100%;
				height: 100%;
				line-height: 36px;
				font-size: 15px;
				color: #939393;
			}
		}
	}
	.hero-pop-bot{
		height: 60px;
		.hero-pop-row{
			label{
				display: block;
				float: left;
				width: 114px;
				height: 60px;
				line-height: 60px;
				font-size: 20px;
				color: #33394c;
				font-weight: bold;
				text-align: right;
			}
			.hero-pop-ipt{
				margin-top: 12px;
				margin-left: 10px;
				float: left;
				width: 588px;
				height: 36px;
				background-color: #eaeaea;
				input{
					padding: 0 15px;
					width: 588px - 30px;
					height: 36px;
					line-height: 36px;
					font-size: 15px;
					color: #27262c;
				}
			}
		}
	}
	.hero-pop-smt{
		display: block;
		position: absolute;
		right: 0;
		bottom: 0;
		width: 145px;
		height: 60px;
		line-height: 60px;
		font-size: 20px;
		color: #fff;
		text-align: center;
		font-weight: bold;
		background-color: #ff9e32;
		&:hover{
			background-color: #ffb432;
		}
	}
}
.gs-popup-alert{
	position: fixed;
	left: 50%;
	top: 50%;
	z-index: 99999;
	margin-left: -255px;
	margin-top: -28px;
	width: 510px;
	height: 56px;
	line-height: 56px;
	font-size: 15px;
	color: #939393;
	background-color: #fff;
	transform:translate(0,20px);
	opacity: 0;
	visibility: hidden;
	transition: all 0.25s ease;
	&.cur{
		transform:translate(0,0);
		opacity: 1;
		visibility: visible;
	}
	p{
		width: 425px;
		text-align: right;
	}
	.gs-popup-alert-close{
		display: block;
		position: absolute;
		right: 0;
		top: 0;
		@include sprite($close-white);
		background-color: #27262c;
		&:hover{
			background-color: #333;
		}
	}
}