// SCSS variables are information about icon's compiled state, stored under its original file name
//
// .icon-home {
//   width: $icon-home-width;
// }
//
// The large array-like variables contain all information about a single icon
// $icon-home: x y offset_x offset_y width height total_width total_height image_path;
//
// At the bottom of this section, we provide information about the spritesheet itself
// $spritesheet: width height image $spritesheet-sprites;
$logo-gf-name: 'logo-gf';
$logo-gf-x: 0px;
$logo-gf-y: 0px;
$logo-gf-offset-x: 0px;
$logo-gf-offset-y: 0px;
$logo-gf-width: 223px;
$logo-gf-height: 175px;
$logo-gf-total-width: 1145px;
$logo-gf-total-height: 1032px;
$logo-gf-image: '../source/csprite.png';
$logo-gf: (0px, 0px, 0px, 0px, 223px, 175px, 1145px, 1032px, '../source/csprite.png', 'logo-gf', );
$logo-gs-name: 'logo-gs';
$logo-gs-x: 810px;
$logo-gs-y: 590px;
$logo-gs-offset-x: -810px;
$logo-gs-offset-y: -590px;
$logo-gs-width: 151px;
$logo-gs-height: 50px;
$logo-gs-total-width: 1145px;
$logo-gs-total-height: 1032px;
$logo-gs-image: '../source/csprite.png';
$logo-gs: (810px, 590px, -810px, -590px, 151px, 50px, 1145px, 1032px, '../source/csprite.png', 'logo-gs', );
$play-arr-name: 'play-arr';
$play-arr-x: 1028px;
$play-arr-y: 352px;
$play-arr-offset-x: -1028px;
$play-arr-offset-y: -352px;
$play-arr-width: 41px;
$play-arr-height: 57px;
$play-arr-total-width: 1145px;
$play-arr-total-height: 1032px;
$play-arr-image: '../source/csprite.png';
$play-arr: (1028px, 352px, -1028px, -352px, 41px, 57px, 1145px, 1032px, '../source/csprite.png', 'play-arr', );
$play-round-name: 'play-round';
$play-round-x: 231px;
$play-round-y: 0px;
$play-round-offset-x: -231px;
$play-round-offset-y: 0px;
$play-round-width: 168px;
$play-round-height: 169px;
$play-round-total-width: 1145px;
$play-round-total-height: 1032px;
$play-round-image: '../source/csprite.png';
$play-round: (231px, 0px, -231px, 0px, 168px, 169px, 1145px, 1032px, '../source/csprite.png', 'play-round', );
$s1-btn1-h-name: 's1-btn1-h';
$s1-btn1-h-x: 0px;
$s1-btn1-h-y: 183px;
$s1-btn1-h-offset-x: 0px;
$s1-btn1-h-offset-y: -183px;
$s1-btn1-h-width: 228px;
$s1-btn1-h-height: 123px;
$s1-btn1-h-total-width: 1145px;
$s1-btn1-h-total-height: 1032px;
$s1-btn1-h-image: '../source/csprite.png';
$s1-btn1-h: (0px, 183px, 0px, -183px, 228px, 123px, 1145px, 1032px, '../source/csprite.png', 's1-btn1-h', );
$s1-btn1-name: 's1-btn1';
$s1-btn1-x: 407px;
$s1-btn1-y: 0px;
$s1-btn1-offset-x: -407px;
$s1-btn1-offset-y: 0px;
$s1-btn1-width: 228px;
$s1-btn1-height: 123px;
$s1-btn1-total-width: 1145px;
$s1-btn1-total-height: 1032px;
$s1-btn1-image: '../source/csprite.png';
$s1-btn1: (407px, 0px, -407px, 0px, 228px, 123px, 1145px, 1032px, '../source/csprite.png', 's1-btn1', );
$s1-btn2-h-name: 's1-btn2-h';
$s1-btn2-h-x: 407px;
$s1-btn2-h-y: 131px;
$s1-btn2-h-offset-x: -407px;
$s1-btn2-h-offset-y: -131px;
$s1-btn2-h-width: 228px;
$s1-btn2-h-height: 123px;
$s1-btn2-h-total-width: 1145px;
$s1-btn2-h-total-height: 1032px;
$s1-btn2-h-image: '../source/csprite.png';
$s1-btn2-h: (407px, 131px, -407px, -131px, 228px, 123px, 1145px, 1032px, '../source/csprite.png', 's1-btn2-h', );
$s1-btn2-name: 's1-btn2';
$s1-btn2-x: 0px;
$s1-btn2-y: 314px;
$s1-btn2-offset-x: 0px;
$s1-btn2-offset-y: -314px;
$s1-btn2-width: 228px;
$s1-btn2-height: 123px;
$s1-btn2-total-width: 1145px;
$s1-btn2-total-height: 1032px;
$s1-btn2-image: '../source/csprite.png';
$s1-btn2: (0px, 314px, 0px, -314px, 228px, 123px, 1145px, 1032px, '../source/csprite.png', 's1-btn2', );
$s1-btn3-h-name: 's1-btn3-h';
$s1-btn3-h-x: 236px;
$s1-btn3-h-y: 314px;
$s1-btn3-h-offset-x: -236px;
$s1-btn3-h-offset-y: -314px;
$s1-btn3-h-width: 228px;
$s1-btn3-h-height: 123px;
$s1-btn3-h-total-width: 1145px;
$s1-btn3-h-total-height: 1032px;
$s1-btn3-h-image: '../source/csprite.png';
$s1-btn3-h: (236px, 314px, -236px, -314px, 228px, 123px, 1145px, 1032px, '../source/csprite.png', 's1-btn3-h', );
$s1-btn3-name: 's1-btn3';
$s1-btn3-x: 0px;
$s1-btn3-y: 445px;
$s1-btn3-offset-x: 0px;
$s1-btn3-offset-y: -445px;
$s1-btn3-width: 228px;
$s1-btn3-height: 123px;
$s1-btn3-total-width: 1145px;
$s1-btn3-total-height: 1032px;
$s1-btn3-image: '../source/csprite.png';
$s1-btn3: (0px, 445px, 0px, -445px, 228px, 123px, 1145px, 1032px, '../source/csprite.png', 's1-btn3', );
$s1-code-bg-name: 's1-code-bg';
$s1-code-bg-x: 643px;
$s1-code-bg-y: 0px;
$s1-code-bg-offset-x: -643px;
$s1-code-bg-offset-y: 0px;
$s1-code-bg-width: 159px;
$s1-code-bg-height: 153px;
$s1-code-bg-total-width: 1145px;
$s1-code-bg-total-height: 1032px;
$s1-code-bg-image: '../source/csprite.png';
$s1-code-bg: (643px, 0px, -643px, 0px, 159px, 153px, 1145px, 1032px, '../source/csprite.png', 's1-code-bg', );
$s2-tit-name: 's2-tit';
$s2-tit-x: 731px;
$s2-tit-y: 930px;
$s2-tit-offset-x: -731px;
$s2-tit-offset-y: -930px;
$s2-tit-width: 235px;
$s2-tit-height: 47px;
$s2-tit-total-width: 1145px;
$s2-tit-total-height: 1032px;
$s2-tit-image: '../source/csprite.png';
$s2-tit: (731px, 930px, -731px, -930px, 235px, 47px, 1145px, 1032px, '../source/csprite.png', 's2-tit', );
$s3-nav1-h-name: 's3-nav1-h';
$s3-nav1-h-x: 436px;
$s3-nav1-h-y: 576px;
$s3-nav1-h-offset-x: -436px;
$s3-nav1-h-offset-y: -576px;
$s3-nav1-h-width: 210px;
$s3-nav1-h-height: 110px;
$s3-nav1-h-total-width: 1145px;
$s3-nav1-h-total-height: 1032px;
$s3-nav1-h-image: '../source/csprite.png';
$s3-nav1-h: (436px, 576px, -436px, -576px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav1-h', );
$s3-nav1-name: 's3-nav1';
$s3-nav1-x: 810px;
$s3-nav1-y: 0px;
$s3-nav1-offset-x: -810px;
$s3-nav1-offset-y: 0px;
$s3-nav1-width: 210px;
$s3-nav1-height: 110px;
$s3-nav1-total-width: 1145px;
$s3-nav1-total-height: 1032px;
$s3-nav1-image: '../source/csprite.png';
$s3-nav1: (810px, 0px, -810px, 0px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav1', );
$s3-nav2-h-name: 's3-nav2-h';
$s3-nav2-h-x: 810px;
$s3-nav2-h-y: 118px;
$s3-nav2-h-offset-x: -810px;
$s3-nav2-h-offset-y: -118px;
$s3-nav2-h-width: 210px;
$s3-nav2-h-height: 110px;
$s3-nav2-h-total-width: 1145px;
$s3-nav2-h-total-height: 1032px;
$s3-nav2-h-image: '../source/csprite.png';
$s3-nav2-h: (810px, 118px, -810px, -118px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav2-h', );
$s3-nav2-name: 's3-nav2';
$s3-nav2-x: 810px;
$s3-nav2-y: 236px;
$s3-nav2-offset-x: -810px;
$s3-nav2-offset-y: -236px;
$s3-nav2-width: 210px;
$s3-nav2-height: 110px;
$s3-nav2-total-width: 1145px;
$s3-nav2-total-height: 1032px;
$s3-nav2-image: '../source/csprite.png';
$s3-nav2: (810px, 236px, -810px, -236px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav2', );
$s3-nav3-h-name: 's3-nav3-h';
$s3-nav3-h-x: 810px;
$s3-nav3-h-y: 354px;
$s3-nav3-h-offset-x: -810px;
$s3-nav3-h-offset-y: -354px;
$s3-nav3-h-width: 210px;
$s3-nav3-h-height: 110px;
$s3-nav3-h-total-width: 1145px;
$s3-nav3-h-total-height: 1032px;
$s3-nav3-h-image: '../source/csprite.png';
$s3-nav3-h: (810px, 354px, -810px, -354px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav3-h', );
$s3-nav3-name: 's3-nav3';
$s3-nav3-x: 810px;
$s3-nav3-y: 472px;
$s3-nav3-offset-x: -810px;
$s3-nav3-offset-y: -472px;
$s3-nav3-width: 210px;
$s3-nav3-height: 110px;
$s3-nav3-total-width: 1145px;
$s3-nav3-total-height: 1032px;
$s3-nav3-image: '../source/csprite.png';
$s3-nav3: (810px, 472px, -810px, -472px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav3', );
$s3-nav4-h-name: 's3-nav4-h';
$s3-nav4-h-x: 0px;
$s3-nav4-h-y: 694px;
$s3-nav4-h-offset-x: 0px;
$s3-nav4-h-offset-y: -694px;
$s3-nav4-h-width: 210px;
$s3-nav4-h-height: 110px;
$s3-nav4-h-total-width: 1145px;
$s3-nav4-h-total-height: 1032px;
$s3-nav4-h-image: '../source/csprite.png';
$s3-nav4-h: (0px, 694px, 0px, -694px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav4-h', );
$s3-nav4-name: 's3-nav4';
$s3-nav4-x: 236px;
$s3-nav4-y: 445px;
$s3-nav4-offset-x: -236px;
$s3-nav4-offset-y: -445px;
$s3-nav4-width: 210px;
$s3-nav4-height: 110px;
$s3-nav4-total-width: 1145px;
$s3-nav4-total-height: 1032px;
$s3-nav4-image: '../source/csprite.png';
$s3-nav4: (236px, 445px, -236px, -445px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav4', );
$s3-nav5-h-name: 's3-nav5-h';
$s3-nav5-h-x: 436px;
$s3-nav5-h-y: 694px;
$s3-nav5-h-offset-x: -436px;
$s3-nav5-h-offset-y: -694px;
$s3-nav5-h-width: 210px;
$s3-nav5-h-height: 110px;
$s3-nav5-h-total-width: 1145px;
$s3-nav5-h-total-height: 1032px;
$s3-nav5-h-image: '../source/csprite.png';
$s3-nav5-h: (436px, 694px, -436px, -694px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav5-h', );
$s3-nav5-name: 's3-nav5';
$s3-nav5-x: 654px;
$s3-nav5-y: 694px;
$s3-nav5-offset-x: -654px;
$s3-nav5-offset-y: -694px;
$s3-nav5-width: 210px;
$s3-nav5-height: 110px;
$s3-nav5-total-width: 1145px;
$s3-nav5-total-height: 1032px;
$s3-nav5-image: '../source/csprite.png';
$s3-nav5: (654px, 694px, -654px, -694px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav5', );
$s3-nav6-h-name: 's3-nav6-h';
$s3-nav6-h-x: 0px;
$s3-nav6-h-y: 812px;
$s3-nav6-h-offset-x: 0px;
$s3-nav6-h-offset-y: -812px;
$s3-nav6-h-width: 210px;
$s3-nav6-h-height: 110px;
$s3-nav6-h-total-width: 1145px;
$s3-nav6-h-total-height: 1032px;
$s3-nav6-h-image: '../source/csprite.png';
$s3-nav6-h: (0px, 812px, 0px, -812px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav6-h', );
$s3-nav6-name: 's3-nav6';
$s3-nav6-x: 218px;
$s3-nav6-y: 812px;
$s3-nav6-offset-x: -218px;
$s3-nav6-offset-y: -812px;
$s3-nav6-width: 210px;
$s3-nav6-height: 110px;
$s3-nav6-total-width: 1145px;
$s3-nav6-total-height: 1032px;
$s3-nav6-image: '../source/csprite.png';
$s3-nav6: (218px, 812px, -218px, -812px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav6', );
$s3-nav7-h-name: 's3-nav7-h';
$s3-nav7-h-x: 436px;
$s3-nav7-h-y: 812px;
$s3-nav7-h-offset-x: -436px;
$s3-nav7-h-offset-y: -812px;
$s3-nav7-h-width: 210px;
$s3-nav7-h-height: 110px;
$s3-nav7-h-total-width: 1145px;
$s3-nav7-h-total-height: 1032px;
$s3-nav7-h-image: '../source/csprite.png';
$s3-nav7-h: (436px, 812px, -436px, -812px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav7-h', );
$s3-nav7-name: 's3-nav7';
$s3-nav7-x: 218px;
$s3-nav7-y: 694px;
$s3-nav7-offset-x: -218px;
$s3-nav7-offset-y: -694px;
$s3-nav7-width: 210px;
$s3-nav7-height: 110px;
$s3-nav7-total-width: 1145px;
$s3-nav7-total-height: 1032px;
$s3-nav7-image: '../source/csprite.png';
$s3-nav7: (218px, 694px, -218px, -694px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav7', );
$s3-nav8-h-name: 's3-nav8-h';
$s3-nav8-h-x: 218px;
$s3-nav8-h-y: 576px;
$s3-nav8-h-offset-x: -218px;
$s3-nav8-h-offset-y: -576px;
$s3-nav8-h-width: 210px;
$s3-nav8-h-height: 110px;
$s3-nav8-h-total-width: 1145px;
$s3-nav8-h-total-height: 1032px;
$s3-nav8-h-image: '../source/csprite.png';
$s3-nav8-h: (218px, 576px, -218px, -576px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav8-h', );
$s3-nav8-name: 's3-nav8';
$s3-nav8-x: 0px;
$s3-nav8-y: 576px;
$s3-nav8-offset-x: 0px;
$s3-nav8-offset-y: -576px;
$s3-nav8-width: 210px;
$s3-nav8-height: 110px;
$s3-nav8-total-width: 1145px;
$s3-nav8-total-height: 1032px;
$s3-nav8-image: '../source/csprite.png';
$s3-nav8: (0px, 576px, 0px, -576px, 210px, 110px, 1145px, 1032px, '../source/csprite.png', 's3-nav8', );
$s3-tit-name: 's3-tit';
$s3-tit-x: 654px;
$s3-tit-y: 867px;
$s3-tit-offset-x: -654px;
$s3-tit-offset-y: -867px;
$s3-tit-width: 237px;
$s3-tit-height: 47px;
$s3-tit-total-width: 1145px;
$s3-tit-total-height: 1032px;
$s3-tit-image: '../source/csprite.png';
$s3-tit: (654px, 867px, -654px, -867px, 237px, 47px, 1145px, 1032px, '../source/csprite.png', 's3-tit', );
$s4-nav1-h-name: 's4-nav1-h';
$s4-nav1-h-x: 643px;
$s4-nav1-h-y: 337px;
$s4-nav1-h-offset-x: -643px;
$s4-nav1-h-offset-y: -337px;
$s4-nav1-h-width: 117px;
$s4-nav1-h-height: 168px;
$s4-nav1-h-total-width: 1145px;
$s4-nav1-h-total-height: 1032px;
$s4-nav1-h-image: '../source/csprite.png';
$s4-nav1-h: (643px, 337px, -643px, -337px, 117px, 168px, 1145px, 1032px, '../source/csprite.png', 's4-nav1-h', );
$s4-nav1-name: 's4-nav1';
$s4-nav1-x: 1028px;
$s4-nav1-y: 0px;
$s4-nav1-offset-x: -1028px;
$s4-nav1-offset-y: 0px;
$s4-nav1-width: 117px;
$s4-nav1-height: 168px;
$s4-nav1-total-width: 1145px;
$s4-nav1-total-height: 1032px;
$s4-nav1-image: '../source/csprite.png';
$s4-nav1: (1028px, 0px, -1028px, 0px, 117px, 168px, 1145px, 1032px, '../source/csprite.png', 's4-nav1', );
$s4-nav2-h-name: 's4-nav2-h';
$s4-nav2-h-x: 643px;
$s4-nav2-h-y: 161px;
$s4-nav2-h-offset-x: -643px;
$s4-nav2-h-offset-y: -161px;
$s4-nav2-h-width: 117px;
$s4-nav2-h-height: 168px;
$s4-nav2-h-total-width: 1145px;
$s4-nav2-h-total-height: 1032px;
$s4-nav2-h-image: '../source/csprite.png';
$s4-nav2-h: (643px, 161px, -643px, -161px, 117px, 168px, 1145px, 1032px, '../source/csprite.png', 's4-nav2-h', );
$s4-nav2-name: 's4-nav2';
$s4-nav2-x: 1028px;
$s4-nav2-y: 176px;
$s4-nav2-offset-x: -1028px;
$s4-nav2-offset-y: -176px;
$s4-nav2-width: 117px;
$s4-nav2-height: 168px;
$s4-nav2-total-width: 1145px;
$s4-nav2-total-height: 1032px;
$s4-nav2-image: '../source/csprite.png';
$s4-nav2: (1028px, 176px, -1028px, -176px, 117px, 168px, 1145px, 1032px, '../source/csprite.png', 's4-nav2', );
$s4-tit-name: 's4-tit';
$s4-tit-x: 488px;
$s4-tit-y: 930px;
$s4-tit-offset-x: -488px;
$s4-tit-offset-y: -930px;
$s4-tit-width: 235px;
$s4-tit-height: 47px;
$s4-tit-total-width: 1145px;
$s4-tit-total-height: 1032px;
$s4-tit-image: '../source/csprite.png';
$s4-tit: (488px, 930px, -488px, -930px, 235px, 47px, 1145px, 1032px, '../source/csprite.png', 's4-tit', );
$s5-tit-name: 's5-tit';
$s5-tit-x: 0px;
$s5-tit-y: 930px;
$s5-tit-offset-x: 0px;
$s5-tit-offset-y: -930px;
$s5-tit-width: 237px;
$s5-tit-height: 47px;
$s5-tit-total-width: 1145px;
$s5-tit-total-height: 1032px;
$s5-tit-image: '../source/csprite.png';
$s5-tit: (0px, 930px, 0px, -930px, 237px, 47px, 1145px, 1032px, '../source/csprite.png', 's5-tit', );
$s6-tit-name: 's6-tit';
$s6-tit-x: 0px;
$s6-tit-y: 985px;
$s6-tit-offset-x: 0px;
$s6-tit-offset-y: -985px;
$s6-tit-width: 235px;
$s6-tit-height: 47px;
$s6-tit-total-width: 1145px;
$s6-tit-total-height: 1032px;
$s6-tit-image: '../source/csprite.png';
$s6-tit: (0px, 985px, 0px, -985px, 235px, 47px, 1145px, 1032px, '../source/csprite.png', 's6-tit', );
$s7-tit-name: 's7-tit';
$s7-tit-x: 654px;
$s7-tit-y: 812px;
$s7-tit-offset-x: -654px;
$s7-tit-offset-y: -812px;
$s7-tit-width: 237px;
$s7-tit-height: 47px;
$s7-tit-total-width: 1145px;
$s7-tit-total-height: 1032px;
$s7-tit-image: '../source/csprite.png';
$s7-tit: (654px, 812px, -654px, -812px, 237px, 47px, 1145px, 1032px, '../source/csprite.png', 's7-tit', );
$s8-tit-name: 's8-tit';
$s8-tit-x: 245px;
$s8-tit-y: 930px;
$s8-tit-offset-x: -245px;
$s8-tit-offset-y: -930px;
$s8-tit-width: 235px;
$s8-tit-height: 47px;
$s8-tit-total-width: 1145px;
$s8-tit-total-height: 1032px;
$s8-tit-image: '../source/csprite.png';
$s8-tit: (245px, 930px, -245px, -930px, 235px, 47px, 1145px, 1032px, '../source/csprite.png', 's8-tit', );
$spritesheet-width: 1145px;
$spritesheet-height: 1032px;
$spritesheet-image: '../source/csprite.png';
$spritesheet-sprites: ($logo-gf, $logo-gs, $play-arr, $play-round, $s1-btn1-h, $s1-btn1, $s1-btn2-h, $s1-btn2, $s1-btn3-h, $s1-btn3, $s1-code-bg, $s2-tit, $s3-nav1-h, $s3-nav1, $s3-nav2-h, $s3-nav2, $s3-nav3-h, $s3-nav3, $s3-nav4-h, $s3-nav4, $s3-nav5-h, $s3-nav5, $s3-nav6-h, $s3-nav6, $s3-nav7-h, $s3-nav7, $s3-nav8-h, $s3-nav8, $s3-tit, $s4-nav1-h, $s4-nav1, $s4-nav2-h, $s4-nav2, $s4-tit, $s5-tit, $s6-tit, $s7-tit, $s8-tit, );
$spritesheet: (1145px, 1032px, '../source/csprite.png', $spritesheet-sprites, );

// The provided mixins are intended to be used with the array-like variables
//
// .icon-home {
//   @include sprite-width($icon-home);
// }
//
// .icon-email {
//   @include sprite($icon-email);
// }
//
// Example usage in HTML:
//
// `display: block` sprite:
// <div class="icon-home"></div>
//
// To change `display` (e.g. `display: inline-block;`), we suggest using a common CSS class:
//
// // CSS
// .icon {
//   display: inline-block;
// }
//
// // HTML
// <i class="icon icon-home"></i>
@mixin sprite-width($sprite) {
  width: nth($sprite, 5);
}

@mixin sprite-height($sprite) {
  height: nth($sprite, 6);
}

@mixin sprite-position($sprite) {
  $sprite-offset-x: nth($sprite, 3);
  $sprite-offset-y: nth($sprite, 4);
  background-position: $sprite-offset-x  $sprite-offset-y;
}

@mixin sprite-image($sprite) {
  $sprite-image: nth($sprite, 9);
  background-image: url(#{$sprite-image});
}

@mixin sprite($sprite) {
  @include sprite-image($sprite);
  @include sprite-position($sprite);
  @include sprite-width($sprite);
  @include sprite-height($sprite);
}

// The `sprites` mixin generates identical output to the CSS template
//   but can be overridden inside of SCSS
//
// @include sprites($spritesheet-sprites);
@mixin sprites($sprites) {
  @each $sprite in $sprites {
    $sprite-name: nth($sprite, 10);
    .#{$sprite-name} {
      @include sprite($sprite);
    }
  }
}
